.menu{
    display : flex;
    justify-content : space-between;
    background-color : black;
    padding: 15px;
    font-size : 20px;
    font-family: sans-serif;
    font-weight : 400;
    color : white;
}

body{
    margin : 10px;
    background-color: whitesmoke;
}

.grid{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

.grid img{
    border: 2px solid black;
    border-radius: 50px;
}

.oragami{
    border-radius: 20px;
    background-color: white;
    padding: 30px;
    margin : 25px;
    width: 310px;
    font-family: fantasy;
    justify-content: space-between;
}

a:link{
    color : blue;
}

a.visited{
    color:chartreuse;
}

.oragami:hover{
    transform: scale(1.5);
}

.bodyImage{
    position: relatives;
}

.bodyImage p{
    position: absolute;
}